<div class="site-footer">
    <div class="container">
      <footer class="text-center">
        <div class="layout-social py-2">
            <a class="text-light px-2" href="https://www.linkedin.com/">
              <i class="layout-icon bi bi-linkedin"></i>
            </a>
            <a class="text-light px-2" href="https://github.com/yufunz/">
              <i class="layout-icon bi bi-github"></i>
            </a>
            <a class="text-light px-2" href="https://www.facebook.com/">
              <i class="layout-icon bi bi-facebook"></i>
            </a>
            <a class="text-light px-2" href="https://www.youtube.com/">
              <i class="layout-icon bi bi-youtube"></i>
            </a>
          </div>
          <div>
              <p class="text-center">&copy;yufunz - 2022</p>
          </div>
      </footer>
    </div><!-- container -->
</div>