@{
    ViewData["Name"] = "yufuNZ";
}

<section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7 fs_banner banner_margin">
                <p>Hello, world!</p>
                <p>My name is @ViewData["Name"]</p>
                <p><i class="bi bi-hash"></i><i>Software Developer</i></p>
            </div>
        </div>
    </div>
</section>
