@{
    ViewData["Name"] = "yufuNZ";
}

<!-- banner -->
<section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7 fs_banner banner_margin">
                <p>Hello, world!</p>
                <p>My name is @ViewData["Name"]</p>
                <p><i class="bi bi-hash"></i><i>Software Developer</i></p>
            </div>
        </div>
    </div>
</section>
<!-- banner -->
<!-- about -->
<section class="py-5 about" id="page-about">
    <div class="container py-3">
        <h3 class="page-heading">About Me</h3>
        <div class="row">
            <div class="col-lg-6 mt-5 text-center">
                <p class="fs-1"><strong>@ViewData["Name"]</strong></p>
                <p class="fs-3">Software Developer</p>
                <p class="text-muted">
                    I have a diverse set of skills, ranging from Web development (HTML, CSS, and JavaScript), to C# and Android development and Linux administration.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/img/man.png" alt="image of myself" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- about -->
